@keyframes ajs__i-check {
	from {
		stroke-dashoffset: 100;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes ajs__i-exclamatory{
	0%,
	to{
		transform:rotate(0deg);
		transform-origin:center
	}
	10%,90% {
		transform:rotate(2deg)
	}
	20%,40%,60%{
		transform:rotate(-6deg)
	}
	30%,50%,70%{
		transform:rotate(6deg)
	}
	80%{
		transform:rotate(-2deg)
	}
}

@keyframes ajs__zoom_in {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes ajs__zoom_out {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.8);
	}
}



@keyframes ajs__fade_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes ajs__fade_out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
